@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&family=Ubuntu:ital,wght@0,500;0,700;1,400;1,500;1,700&display=swap');
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/* look at colors in tailwind css */
@layer base {
    :root {
        /* LE THEME EST VERT */
        --text-base : #fff3d3;
        --sous-text : #E3F9F6 ;
        --sous-text-inv : #29384D;
        --col-remp : #465262 ;
        --color-button : var(--text-base) ;
        --button-hover : #FFFFAA ;
        --button-sous : #ef4444;
    }
    .theme-dark{
        --text-base : #ebfacc;

    }
}

*{
    font-family : Ubuntu;
    
}
body {
    background :  #29384D;
}
li{@apply text-sous-text-inv }
.navlink{@apply flex flex-row justify-center items-center gap-2 font-extrabold text-center border-b-0 transition-all}
        /* a propos de moi page */
.projet {@apply max-w-2xl h-80}
.active { @apply text-remp border-b-4 }


.Pprofil {animation : 40s disc linear infinite ;}
@keyframes disc {
from {rotate : 0deg ;}to{rotate : 360deg;}}

@media (max-width: 640px) {
    header {@apply h-14 justify-between }
    .navEl {@apply w-full bg-white h-0 overflow-hidden absolute top-20 transition-all  }
    .nav {@apply flex-col py-5   }
    .navEl.toggle { @apply h-72 shadow-lg }
}
